<div class="container">
    <div class="row">
        <div class="col-md-6 col-sx-12 offset-md-3">
            <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
                <div class="form-group">
                    <label for="email">E-Mail</label>
                    <input 
                        type="email" 
                        id="email" 
                        class="form-control"
                        ngModel
                        name="email"
                        required
                        minlength="6">
                </div>    
                <div class="form-group">
                    <label for="password">Password</label>
                    <input 
                        type="password" 
                        id="password" 
                        class="form-control"
                        ngModel
                        name="password"
                        required>
                </div>
                <div>
                    <button 
                        class="btn btn-primary" 
                        type="submit" 
                        [disabled]="authForm.invalid">
                        {{ isLoginMode ? 'Log In' : 'Sign Up' }}
                    </button>
                    <button 
                        class="btn btn-primary" 
                        type="button" 
                        (click)="onSwitchMode()">
                        Switch to {{ isLoginMode ? 'Sign Up' : 'Log In' }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

