<div class="row">
    <div class="col-md-12">
        <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
       <h1>{{ recipe.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
       <div 
            class="dropdown"
            appDropdown
          >
           <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" role="button">
                Manage recipe
           </button>
           <ul class="dropdown-menu drop-items">
              <a class="dropdown-item" (click)="onAddToShoppingList()">Add ingredients</a>
              <a class="dropdown-item" (click)="onEditRecipe()">Edit recipe</a>
              <a class="dropdown-item" (click)="onDeleteRecipe()">Delete recipe</a>
           </ul>
       </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
       {{ recipe.description }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
      <ul class="list-group">
          <li class="list-group-item" *ngFor="let ingredient of this.recipe.ingredients">
                {{ ingredient.name }}: {{ ingredient.amount }}
          </li>       
      </ul>
    </div>
</div>


